header {
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:190px;
}
.logo {
    width: 90px
}
.cuadrotxt {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: steelblue;
    color: white;
    height: 90px;
    text-align: center;
    width: 350px; 
}
.azul{
    color: steelblue;
    text-align: center;
}
footer{
    background-image: url(../img/fondo2.jpg)
    ;background-repeat: no-repeat
    ;background-size: cover;
    height:300px
}